<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Getting Started</title>
</head>
<body >
    <div style="text-align: center;">
        <h1>Welcome To Meeting Planner Demo</h1>
        <p>
            this is the demo application for the course <em>Django Getting started</em>
            at <a target="_blank" href="https://www.pluralsight.com">pluralsight</a>
        </p>
        <p>They are currently {{meeting_nbr}} scheduled</p>
    </div>
    <hr>
    <br><br><br>
    <div>
        <h1>List Of Meetings</h1>
        <ul>
            {% for meeting in meetings %}
                <li>
                    <a href="{% url 'meeting' meeting.id %}">
                        {{meeting.title}}
                    </a>
                </li>
                <br>
            {%endfor%}
        </ul>
    </div>
    <a href="{% url 'rooms' %}">List Of Rooms</a>
</body>
</html>
